svg{ 
  margin-left: 30px;
  margin-top: 40px;
  margin-right: 30px;
  width: 100.181px;
  height: 30.574px;
  opacity: 100%;
}

ul {
  list-style: none;
  margin-top: 30px;
  font-family: "BPG Nino Mtavruli Bold", sans-serif;
  display: inline-block;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  margin-top: 152px;
  width: 76px;
  height: 16px;
  color: #3D58A6;
  font-size: 22px;
  text-align: left;
}

#main {
  color: #EE4036;
  margin-right: 18px;
}

#news {
  margin-right: 30px;
}

p {
  color: #3D58A6;
  font-size: 20px;
  font-family: "BPG Nino Mtavruli Bold", sans-serif;
  margin-bottom: 0px;
}

.addressdiv {
  height: 570px;
  width: 100%;
  background-color: #E6E6E6;

}

address .address {
  font-size: 20px;
}

address {
  display: inline-block;
  height: 90px;
  width: 265px;
  margin-top: 45px;
  margin-left: 90px;
  margin-bottom: 410px;
}

span {
  color: grey;
  font-style: normal;
  font-size: 20px;
}

#ops {
  color: black;
  font-style: normal;
  font-family: "BPG Ingiri Arial", sans-serif;
}

#map {
  display: inline-block;
  height: 466px;
  width: 874px;
  float: right;
  margin-top: 45px;
  margin-right: 90px;
  margin-left: 45px;
  margin-bottom: 50px;
}

footer {
  text-align: left;
  margin-left: -60px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-left: 30px;
}

.photo {
  display: inline-block;
  padding-left: 30px;
  float: left;
}


#youtube {
  border-left: 2px solid #363E97;
  width: 26px;
  height: 31px;
  opacity: 100%;
}

#fb {
  margin-right: 30px;
  margin-left:30px;
  width: 15px;
  height: 31px;
  opacity: 100%;
}
